.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  height: 70%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-content {
  padding: 30px;
  overflow-y: auto;
  height: calc(100% - 70px); /* Accounts for header and buttons */
}

.modal h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal label {
  display: block;
  margin-top: 10px;
}

.modal input,
.modal select,
.modal textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal textarea {
  height: 80px;
}

.invitee-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.invitee-row input {
  flex: 2;
  padding: 8px;
}

.invitee-row select {
  flex: 1;
  margin-left: 10px;
  padding: 6px;
}

.remove-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #d32f2f;
}

/* Buttons for Creating and Cancelling */
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal button {
  padding: 10px 20px;
  background-color: #2b8eae;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #216d85;
}

/* Public/Private Carpool Toggle Row */
.radio-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.radio-row label {
  font-weight: 600;
  color: #555;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.radio-row input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}
